# venv
bin/
include/
lib/
pyvenv.cfg
share
.env 

# macOS system files
.DS_Store

# Byte-compiled Python files
*.pyc

# Jupyter Notebook files
*.ipynb_checkpoints
*.ipynb
notebooks/

# Python cache files
__pycache__

# pyenv version file
.python-version

# Distribution packages
dist/

# animations
animations/
.mp4